spring:
  datasource:
    username: postgres
    url: jdbc:postgresql://localhost:5432/hospital_management_system

  application:
    security:
      jwt:
        secret-key: ${JWT_SECRET}
        expiration: ${JWT_EXPIRATION}